
*.vsidx
*.vsidx
Server/bin/Debug/net6.0/data/config.txt
Server/bin/Debug/net6.0/data/config.txt
Server/bin/Debug/net6.0/data/config.txt
Server/bin/Debug/net6.0/data/config.txt
Server/data/config.txt
Server/bin/Debug/net6.0/data/config.dat
